<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:image" content="/images/Skull_big.jpg" />
    <meta name="author" content="bill@bigmojo.net">
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 month">
    <title>Send Secure information, passwords, links, dead drop</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta property="og:title" content="Send Secure information, passwords, links, dead drop" /
    ><meta name="description" content="Allows you to create a one-time use link to securely send passwords or other information" />
    <meta name="keywords" content="dead drop,security,encryption,passwords,secure" />
    <meta name="revisit-after" content="3 month" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- secure, password, encryption ->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="~/js/html5shiv.js"></script>
    <script src="~/js/respond.min.js"></script>

    <![endif]-->


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" /><link rel="stylesheet" href="/css/deaddrop.css" />
    <link rel="shortcut icon" href="/skull.png">

</head>
<body>
        <div class="container">
            <div class=" page-header">
                
                <h1>Something went wrong!</h1>
                <p class="intro-text">We'll be back shortly.</p>
            </div>
        </div>
</body>