<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Dead Drop Stats</title>
	<link href="/css/stats.css" rel="stylesheet" type="text/css">
	<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="../../excanvas.min.js"></script><![endif]-->
	<script language="javascript" type="text/javascript" src="/js/jquery.min.js"></script>
	<script language="javascript" type="text/javascript" src="/js/jquery.flot.min.js"></script>
	<script language="javascript" type="text/javascript" src="/js/jquery.flot.time.min.js"></script>
	<script type="text/javascript">

	$(function() {

        var statsData =[];
        var json = $.getJSON('/stats/json',function(data){
            $.plot("#placeholder",  [data],
            {   xaxis: 
                {
                    mode: "time",   
                    timeformat: "%b %d",
                    tickSize: [1, "day"]
                }
            }
            );
        });
		// Add the Flot version string to the footer

		$("#footer").prepend("Flot " + $.plot.version + " &ndash; ");
	});

	</script>
</head>
<body>

	<div id="header">
		<h2>Stats</h2>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>


	</div>


</body>
</html>
